body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #bed08d;

  height: 100vh;
  width: 100%;
}

.cadastro {
  width: 350px;
  height: 400px;
  background: #f3f3f3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: -14px 10px 10px 0px rgba(0,0,0, 0.1);
}

.loader {
  position: absolute;
  width: 60px;
  height: 60px;

  border: 5px solid transparent;

  border-top: 5px solid #bed08d;

  border-radius: 50%;

  animation: spiner 3s infinite;
}

@keyframes spiner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.miniLoader {
  position: relative;
  margin-top: 2px;
  width: 50px;
  height: 50px;

  border: 5px solid transparent;

  border-top: 5px solid #bed08d;

  border-radius: 50%;

  animation: miniSpiner 2s infinite;
}

@keyframes miniSpiner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.cadastro .formTeste{
  display: none;
  height: 100%;

  animation: formContainer 1.5s;
}

.formTeste h1 {
  color: #657553;
}

@keyframes formContainer {
  0% {opacity: 0; transform: translateX(-50px);}
  100% {opacity: 1; transform: translateX(0px);}
} 

.cadastro img {
  width: 240px;
  height: 150px;
  margin-top: 30px;
}

.dowloading {
  width: 240px;
  height: 45px;

  margin-top: 30px;

  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  border: 0;

  background: #719114;

  display: flex;
  justify-content: center;
  align-items: center;
  
  color: #fff;
  font-size: 18px;

  animation: loader 2.5s infinite;
}

.dowloading:hover {
  filter: opacity(0.8);
}

.progressBar {
  display: none;
  width: 240px;
  height: 35px;

  margin-top: 30px;

  border-radius: 5px;
  border: 2px solid #b7b7b7;
  outline: 0;
  cursor: pointer;
}

.bar {
  height: 35px;
  background: #719114;
  width: 100%;

  animation: progres 3s;
}

@keyframes progres {
  0% {width: 0%;}
  100% {width: 100%; border-radius: 5px;}
}

.finish {
  display: none;

  height: 100%;
  width: 100%;

  animation: finished 2s;
}

@keyframes finished {
  0% {opacity: 0; transform: scale(0.6);}
  100% {opacity: 1; transform: scale(1);}
}

.finish span:first-child {
  color: #719114;
  font-size: 73px;
}

.finish span:nth-child(2) {
  font-size: 20px;
  margin-top: 10px;
}
